<article>
        <h2>Mars weather today</h2>
        <h2>Sol - day <%= day[5]%> </h2>
        <h4>Aerage Pressure: <%= (Pre.av).toFixed(2)%></h4>
        <h4>Low Pressure: <%= (Pre.mn).toFixed(2)%></h4>
        <h4>High Pressure: <%= (Pre.mx).toFixed(2)%></h4>
        <h3>Mars season: <%=season%></h3>
</article>