<article>
        <h2><%=place%> weather today</h2>
        <h2>date <%=date%> </h2>
        <h4>Tempature: <%= current%> degrees celsius</h4>
        <h4>Low Tempature: <%= low%> degrees celsius</h4>
        <h4>High Tempature: <%= max%> degrees celsius</h4>
        <h3>Pressure: <%=pressure%> mb </h3>
        <h1><a href= '/place/new'>Pick a new place to compare to!</a></h1>
</article>